name: Build & Test

permissions:
  contents: read

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Install Apache Spark
      run: |
        curl -fL --retry 5 --retry-delay 5 \
          https://dlcdn.apache.org/spark/spark-3.5.8/spark-3.5.8-bin-hadoop3.tgz \
          -o spark.tgz

        echo "Validating archive..."
        file spark.tgz
        ls -lh spark.tgz

        tar -xzf spark.tgz
        mv spark-3.5.8-bin-hadoop3 $HOME/spark


    - name: Start Spark Connect Server
      run: |
        $HOME/spark/sbin/start-connect-server.sh \
          --packages org.apache.spark:spark-connect_2.12:3.5.1
        sleep 10

    - name: Install dependencies
      run: chmod +x ./install_deps.sh && ./install_deps.sh

    - name: Configure & Build
      run: |
        mkdir -p build
        cd build
        cmake ..
        make -j$(nproc)

    - name: Run Tests
      run: |
        export SPARK_REMOTE=sc://localhost
        cd build
        ctest --output-on-failure
